@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Orbitron:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');


/* p {
  font-family: 'Orbitron', sans-serif;
}  */

 /* img {
  font-family: 'Orbitron', sans-serif;
  border: 5px solid rgb(17, 104, 36);
  background-color: black;
 } */

 

  