* {
  box-sizing: border-box;
  margin: 10 px;
  padding: 10 px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background: rgb(0, 0, 0);
}

.container {
  margin: 10px auto;
  background: rgb(0, 0, 0);
  color: rgb(233, 10, 10);
}

input[type="text"] {
  margin: 5px 0;
  padding: 5px;
  width: 100%;
  font-size: 1.1rem;
}

input[type="submit"] {
  width: 100%;
  background: rgb(247, 244, 244);
  color: rgb(7, 7, 7);
  padding: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}
